* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    margin: 30px 0;
    list-style-type: none;
    list-style-image: url(img/arrow-r.png);
    font-size: 24px;
    list-style-position: outside;
}

.lista {
    background-color: antiquewhite;
    /*? list-style: type image position; */
}

figure {
    width: 200px;
    height: 400px;
    background: crimson;
    margin: 30px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.img {
    width: inherit;
    height: inherit;
    object-fit: cover;
}