:root {
 --blanco: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
}

.box {
    width: 300px;
    height: 200px;
}

.box1 {
    background: steelblue;
    /* margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 10px;
    margin-right: 10px; */

    /* margin: 20px 10px 40px 10px; */

    /* margin: 50px 20px; */

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.box2 {
    overflow: auto;
    margin: 80px 30px;
    background: coral;
    padding: 30px 20px;
    border: 10px outset indigo;
    border-radius: 100px;
}