* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html { */
    /** La medida por default en los navegadores de 1rem es de 16px */
    /* font-size: 16px; */
/* } */

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f2f2f2;
    font-size: 20px;
    /* height: 1000px; */
}

.opinion {
    /** la medida "em" se define en base al font-size del elemento padre y se acumula su valor en cascada */
    font-size: 2em;
    padding: 3em;
    width: 70%;
    margin: 40px auto;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, .5);
}s

.title {
    font-size: 1em;
}

.text {
    font-size: 20px;
}

.container {
    /* max-width: 400px;
    max-height: 400px;
    min-width: 200px;
    min-height: 200px; */
    /* width: 300px; */
    /* height: 80%;  */
    background: steelblue;
    /* margin: 30px auto; */
    width: 100vw;
    height: 100vh;
}

.children {
    width: 100%;
    height: 80%;
}