* {
    margin: 0;
    padding: 0;
    box-sizing: border-boxs;
}

body {
    background: #fafafa;
}

.img {
    display: block;
    width: 400px;
    margin: 30px auto;
    /* box-shadow: 0px 0px 30px 10px  rgba(220, 20, 20, 0.515); */
    box-shadow: 6px 6px 10px rgba(0, 0, 0, .75);
    /* border-radius: 10%; */
}

.box {
    width: 100px;
    height: 100px;
    /* border-radius: 50%; */
    margin: 200px auto;
    background: steelblue;
    /** Las propiedades del box shadow: el desplacamiento horizontal de la sombra, desplacamiento vertical de la sombra, que tanto se va a difuminar la sombra, que tanto se va a esparcir la sombra y el color de la sombra*/
    /** box-shadow: h-offset v-oofset blur spread color; */
    /* box-shadow: 0px 0px 3s0px 20px; */
    /* box-shadow: 100px 0 crimson,
                0 -100px darkblue,
                0 100px darkgoldenrod,
                -100px 0 darkcyan; */
    box-shadow: 3px 3px 10px rgba(27, 20, 220, 0.515);
}