* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
}

.card {
    width: 300px;
    box-shadow: 5px 10px 21px 0px rgba(0,0,0,0.75);
    padding: 0px 0px 30px;
    margin: 30px auto;
    border-radius: 10px;
}

.img {
    /** Para asignar que el tamaño de una imagen dentro de un div en forma de card sea el del div contenedor se le debe dar un widt del 100% a la imagen y asignar el tamaño al div contenedor */
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    display: block;
}

.contenedor {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

.title {
    color: #EB303F;
    text-align: center;
    margin: 20px 0;
    text-shadow: 1px -1px rgba(73, 100, 140, 0.245);
}

.copy {
    text-align: center;
}

.cta {
    display: block;
    width: 200px;
    background: #34171C;
    padding: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: white;
    border-radius: 3px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}

.zoro {
    display: block;
    width: 400px;
    margin: 30px auto;
    /** Para agregarle sombra en el contorno a una imagen que tiene transparencia en el fondo como lo es una imagen PNG se hace con drop-shadow(h-offset v-offset blur color) */
    filter: drop-shadow(5px 5px 40px rgb(0, 233, 0));
}