*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 70%;
    height: 300px;
    margin: 30px auto;
    /* background: rgb(100, 100, 250); */
    background-color: rgb(100, 100, 250);
    /** De esta manera se pueden colocar dos imagenes dentro de un mismo espacio */
    /* background-image: url(images/jinx2.png), url(images/cloud-solid-48.png); */
    background-image: url(images/jinx2.png);
    /* background: steelblue url(images/cloud-solid-48.png); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.atachment {
    width: 100%;
    background-image: url('images/jinx.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 700px;
    padding: 0.1px;
}

.fixed {
    background-attachment: fixed;
}

.title {
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #fff;
    margin-top: 200px;
}

.space {
    height: 3000px;
}