* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    height: 400px;
    margin: 30px auto;
    background: steelblue;
    /* background-image: 
        linear-gradient(direction, color stop, color stop); */
    background-image: linear-gradient(to bottom, crimson, steelblue);
}

.header {
    height: 900px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(76, 0, 130, 0.403), rgba(255, 192, 203, 0.408)), url(images/hero.jpg);
    padding: 0.1px;
}

.title {
    font-size: 60px;
    text-align: center;
    margin-top: 650px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}