* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    background: red;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-top: 40px;

    /*? lleva tres valores --> border: 1)width 2)style 3)color; */
    /** esto es el shorthand de lo que esta abajo: border: 10px dashed brown; */

    /*? se puede asiggnar estilo a cada uno de los lados con las mismas reglas del margen o padding al igual que si se usara su shorthand  */
    border-width: 20px 10px ;
    border-style: dotted dashed double groove;
    border-color: white steelblue gold salmon;

    /** tambien se puede asignar el borde a cada uno de sus lados por separado */
    border-top: 10px solid black;
    border-left: 20px dotted steelblue;
}

.card {
    margin: 40px auto; 
    width: 400px;
    border: 1px solid white;
    padding: 20px 0;
}

.img {
    /** Para centrar un elemento con margin auto se requiere que tenga un display block y que tenga width  */
    display: block;
    width: 300px;
    height: 300px;
    /** Con la propiedad object-fit se ajusta la imagen si se le asigna una altura*/
    /*? height: 500px; */
    object-fit: cover;
    margin: 20px auto;
    /* border: 20px groove brown; */
    /** La propiedad border-radius hace que se pueda redondear las esquinas de un elemento */
    /** Se puede declarar un valor para todas sus esquinas  */
    /*? border-radius: 100px; */
    /** Se puede declarar un valor para cada esquina, comenzando por la esquina superior izquierda y continuando a la derecha*/
    /* border-radius: 200px 100px 50px 10px; */
    /** Tambien se puede desglozar de la siguiente manera para establecer la redonde */
    /* border-top-left-radius: ;
    border-top-right-radius: ;
    border-bottom-right-radius: ;
    border-bottom-left-radius: ; */

    /** Para dar un efecto de circulo a una imagen se hace con border radius 50% pero para que se vea como un circulo se debe realizar sobre un cuadrado es decir que su ancho y alto sean de la misma medida y si es sobre una umagen para que no se distorcione se debe ocupar object-fit: cover */
    border-radius: 50%;
}

.nombre {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cta {
    display: block;
    width: 200px;
    background: steelblue;
    padding: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: white;
    border-radius: 3px;
    margin: 0 auto;
    text-align: center;
}