* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    padding: 50px 0;
    color: rgb(255, 255, 255);
    /* background: rgb(100, 0, 200, 0.3); */
    /* background: #aa00cc70; */
    background: hsl(300, 100%, 80%);
}

.title {
    text-align: center;
}