* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: cursive;
    background: rgb(150, 208, 255); */
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(#ffffffab, #ffffffab), url(cafe.jpg);
    background-size: cover;
    background-position: center;
}

.container {
    background: #fff;
    width: 50%;
    margin: 30px auto;
    padding: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    /* font-family: Arial, Helvetica, sans-serif; */
    border-radius: 10px;
}

.h1 {
    /** Se puede centrar un texto con line-height siempre y cuando sea solo una linea colocando el mismo valor del height del contenedor en el line-height o si tiene un padding el contenedor solo restarle ese valor  */
    text-align: center;
    /* line-height: 560px; */
}

.copy {
    /* text-align: justify; */
    padding: 10px 0;
    /* font-style: oblique; */
    /* letter-spacing: 2px; */
    /* word-spacing: 30px; */
    /* text-shadow: 10px 10px 20px rgb(11, 100, 173); */
    /* text-transform: capitalize; */
    /* line-height: 30px; */
    
}

/* .bold {
    color: crimson;
    font-weight: bold; */
    /** El font-size por defecto es de 16px */
    /* font-size: 19px;
} */

/* a { */
    /** los elementos a son de tipo inline asi que para modificar la posicion con text aling primero se debe aplicar display-block al elemento a  */
    /* display: block;
    text-align: right; */
/* } */

/* .img {
    width: 350px;
    border-radius: 20px;
} */

.enlace {
    color: crimson;
    text-decoration: none;
    /* text-decoration-line: line-through overline underline; */
    /* text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: pink; */
    border: 1px solid;
    padding: 10px;
}

input {
    font-size: 20px;
    font-family: cursive;
}

.card {
    width: 400px;
    color: #fff;
    /** De esta manera su puede tener un background degradado con dos colores, transsparencia y una imagen de fondo */
    background-image: linear-gradient(#5f4926b6, #5f4926b4), url(cafe.jpg);
    background-size: cover;
    background-position: center;
    margin: 40px auto;
    padding: 20px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, .5);
    border-radius: 10px;
    text-align: justify;
}

.title {
    font-size: 30px;
    border-bottom: 3px solid #fff;
    padding: 7px;
    margin-bottom: 30px;
}

.text {
    margin-bottom: 30px;
    line-height: 2;
    text-transform: capitalize;
}

.bold {
    font-weight: bold;
}

.cta {
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 130px;
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 15px;
    border-radius: 5px;
}

.cta:hover {
    background-color: #fff;
    color: #5f4926;
    font-weight: bold;
}