h2, h3 {
font-size: 34px;
font-family: Arial, Helvetica, sans-serif;
}

/*! Con espacio todos los decendientes del elememnto padre se ven afectados*/
.contenedor p {
color: red;
}

/*! Con signo mayor que solo los decendientes directos del elememnto padre se ven afectados*/
.contenedor > p {
text-decoration: underline;
}

/*! si no lleva espacio selecciona a esa etiqueta con esa clase o clases */
nav.contenedor.titulo {
background: steelblue;
}

.contenedor a {
text-decoration: none;
color: firebrick;
}

.contenedor > a {
font-size: 20px;
font-weight: bold;
}

/*! con el signo mas se especifica que se seleccione solo al elemento adyacente hermano*/
h2 + p {
color: gold;
}

/*! con este signo se especifica que a todos los elementos que esten despues del elemento hermano*/
h3 ~ p {
    color: greenyellow;
}