* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.enlaces {
    text-decoration: none;
    background: crimson;
    color: white;
    /*? no se le puede dar un widt y un height a los elementos que son inline, tampoco se les puede dar padding top, margin top, si se requieren elementos en linea pero se ocupa agregar esas propiedades se ocupa INLINE-BLOCK */
    /** y solo se puede centrar un elemento si tiene un width definido y su display es de tipo BLOCK */
    padding: 30px 20px;
    display: inline-block;
}

.block {
    /* el elemento con la propiedad display NONE oculta el elemento, pero no solo lo oculta como lo hace la propiedad opacity si no que deja de existir en el archivo*/
    display: none;
}

.header {
    height: 400px;
    background: indigo;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 300px;
    border: 10px solid black;
    padding: 30px;
}

body>header>h2.title#title {
    font-size: 80px;
}

/*
Especificidad

1000 - inline css
100  - ID
10   - Class Atributos
1    - Elemento

*/

.title {
    /*? si se coloca !important rompe toda la especificidad y se coloca esa propiedad  */
    font-size: 25px !important;
    border: inherit;
    padding: inherit;
}

